{%extends 'shop/base.html'%}

{% block title %}Stores{% endblock %}

{% block body %}

   <div class="container" style="padding-top: 100px; padding-left: 0px; padding-right: 0px;">
      <div class="row" >
        <div class="col-lg-3" style="padding: 0px">
          <ul style="padding-top: 100px; font-family: Satisfy; font-size: 30px; color: dimgray ">
                  <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">All</label>

                        <div class="check"></div>
                  </li>
                 <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">General</label>

                        <div class="check"></div>
                  </li>
                  <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">Man</label>

                        <div class="check"></div>
                  </li>
                  <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">Women</label>

                        <div class="check"></div>
                  </li>
                 <li>
                        <input type="radio" id="f-option" name="selector">
                        <label for="f-option">Kids</label>

                        <div class="check"></div>
                  </li>
             </ul>
        </div>
        <div class="col-lg-9">
          <h3 style="text-align: center; font-family: Satisfy; font-size: 50px; padding-left: 1px">The most popular stores</h3>

         {% for store in stores %}
            <div class="col-lg-6" style="padding-top:20px; padding-left: 50px">
                <div class="thumbnail">
                    {{ store.store_name }}

                    <a href="{{ store.store_link }}" target="_blank" ><img src="{{ store.store_logo }}" class="img-responsive"></a>
                    <a href="" class="btn btn-primary btn-sm" role="button" style="position:absolute; z-index:5;  left: 0px">View Feedback</a>
                </div>

            </div>

        {% endfor %}

        <div class="pagination" style="padding-left: 390px; padding-top:700px;  position: absolute">
            {% include "shop/pagination.html" with page=page_obj %}
        </div>
      </div>

    </div>
    </div>


{% endblock%}
